<section id="whole" class="flip-card" *ngIf="trip">
    <div class="flip-card-inner">
        <div class="flip-card-front "
            [ngStyle]="{'border-color': tripId==borderGreen ? 'green' : tripId==borderRed ? 'red' : ''}">
            <div class="img-box">
                <img (click)="showTripDetails()" class="img" src="{{trip.imgs[0].srcFull}}"
                    title="{{trip.imgs[0].title}}" alt="{{trip.imgs[0].alt}}">
            </div>
            <h3 class="trip-title">{{trip.name}}</h3>
            <p style="color: #292929;">{{trip.destination | uppercase}}</p>
            <div class="trip-info" style="background-color: white;">
                <div class="trip-reservation-price">
                    <h2>{{trip.unitPrice | currency}}</h2>
                    <p>per pearson</p>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <app-trip-rating [ratingNum]="getAverageRating()" [ratingDivisor]="getAverageRatingDivisor()"></app-trip-rating>
                    <div>
                        from {{getNumOfRatings()}} rating<div style="float: right" *ngIf="getNumOfRatings() != 1">s</div>
                    </div>
                </div>
            </div>
            <button *ngIf="userRoles?.manager" class="trip-remove-button" (click)="removeThisTrip()">REMOVE THIS
                TRIP</button>
        </div>

        <div class="flip-card-back" (click)="showTripDetails()">
            <h3 class="trip-title">{{trip.name}}</h3>
            <hr>
            <div class="trip-info">
                <p>📍 {{trip.destination | uppercase}}</p>
                <p>📅 from {{trip.startDate | date:"dd-MM-yyyy"}} to {{trip.endDate | date:"dd-MM-yyyy"}}</p>

                <div *ngIf="trip.freeSeats - numOfReservations > 0; then availibleFreeSeats else unavailibleFreeSeats">
                </div>
                <ng-template #availibleFreeSeats>
                    <p>💺 {{trip.freeSeats - numOfReservations}} seats left</p>
                </ng-template>
                <ng-template #unavailibleFreeSeats>
                    <p class="unavailibleFreeSeats">💺 No free seats</p>
                </ng-template>

                <div class="trip-reservation-price">
                    <h2>{{trip.unitPrice | currency}}</h2>
                    <p>per pearson</p>
                </div>

                <button class="button-color-sec buy-button" (click)="showTripDetails()">Buy tickets now!</button>
            </div>

        </div>
    </div>
</section>