#whole {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-grey-light);
}

.img-form {
    margin-left: 20px;
}

.additional-field-info {
    color: rgb(109, 109, 109);
}

input,
select {
    width: 30%;
}
