<form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    <h2>Trip Form</h2>
    <div class="form-div">
        <label for="destination">Destination country</label>
        <select class="form-control" name="destination" id="destination" required formControlName="destination">
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
    </div>
    <div class="form-div">
        <label for="name">Trip title</label>
        <input name="name" id="name" formControlName="name">
    </div>
    <div class="form-div">
        <label for="startDate">Start date</label>
        <input type="date" name="startDate" id="startDate" formControlName="startDate">
    </div>
    <div class="form-div">
        <label for="endDate">End date</label>
        <input type="date" name="endDate" id="endDate" formControlName="endDate">
    </div>
    <div class="form-div">
        <label for="unitPrice">Price per ticket (for ex. {{456.88 | currency}})</label>
        <input type="number" step="0.01" min="0" step="1" name="unitPrice" id="unitPrice" formControlName="unitPrice">
    </div>
    <div class="form-div">
        <label for="freeSeats">Free seats</label>
        <input type="number" name="freeSeats" min="0" id="freeSeats" formControlName="freeSeats">
    </div>
    <div class="form-div">
        <label for="description">Description</label>
        <textarea type="text" name="description" id="description" formControlName="description"></textarea>
    </div>

    <div formArrayName="imgs">
        <h2 class="form-div">Images (at least one)</h2>
        <button type="button" (click)="addImgForm()">Add another image</button>

        <div *ngFor="let img of imgsFormArray.controls; let i=index">
            <div [formGroupName]="i" class="img-form">
                <p class="form-div"><b>Image num: {{i + 1}}</b></p>
                <div class="form-div">
                    <label for="img-{{i}}-alt">Alternative</label>
                    <input type="text" id="img-{{i}}-alt" formControlName="alt">
                </div>

                <div class="form-div">
                    <label for="img-{{i}}-thumbnail">Source for thumbnail</label>
                    <input type="text" id="img-{{i}}-thumbnail" formControlName="srcThumbnail">
                    <p class="additional-field-info">Has to start with:<br>http[s]://</p>
                </div>

                <div class="form-div">
                    <label for="img-{{i}}-full">Source for full image</label>
                    <input type="text" id="img-{{i}}-full" formControlName="srcFull">
                    <p class="additional-field-info">Has to start with:<br>http[s]://</p>
                </div>

                <div class="form-div">
                    <label for="img-{{i}}-title">Image title</label>
                    <input type="text" id="img-{{i}}-title" formControlName="title">
                </div>

                <button type="button" (click)="deleteImgForm(i)">Delete</button>
            </div>
        </div>
    </div>

    <div *ngIf="tripId=='create-new-trip'; then create else alter"></div>
    <ng-template #create>
        <button class="submit-form-button" type="submit" [disabled]="!tripForm.valid">Create new trip</button>
    </ng-template>
    <ng-template #alter>
        <button class="submit-form-button" type="submit" [disabled]="!tripForm.valid">Alter trip</button>
    </ng-template>
</form>