<div *ngIf="getMessage() == null; then canReview else cannotReview"></div>
<ng-template #canReview>
    <div *ngIf="userReview == null; then showReviewForm else currUserReview"></div>
    <ng-template #showReviewForm>
        <form (ngSubmit)="onSubmit()" [formGroup]="reviewForm" id="form">
            <h3 class="center">Send your opinion!</h3>
            <div class="form-div">
                <label for="reviewContent">Your review (50 - 500 characters)</label>
                <textarea style="width: 100%; height: 300px; resize: none;" name="reviewContent" id="reviewContent"
                    required formControlName="content"></textarea>
            </div>
            <app-trip-rating [ratingDivisor]=-1 [ratingDivisorMovable]=true
                (numOfStars)="ratingChanged($event)"></app-trip-rating>
            <button type="submit" [disabled]="!reviewForm.valid">Submit</button>
        </form>
    </ng-template>

    <ng-template #currUserReview>
        <div>
            <h3 class="center">You have already left a review:</h3>
            <div class="review">
                <div>By: {{userReview?.nick}}</div>
                <div>{{userReview?.date | date: "medium"}}</div>
                <app-trip-rating [ratingDivisor]=userReview!.rating [ratingDivisorMovable]=false></app-trip-rating>
                <p class="review-content">{{userReview?.content}} </p>
            </div>
        </div>
    </ng-template>
</ng-template>

<ng-template #cannotReview>
    <div>{{getMessage()}}</div>
</ng-template>
