<section>
    <h2 class="center">My profile</h2>
    <table class="user-info">
        <tr>
            <th>First name</th>
            <td>{{userData?.firstName}}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{userData?.lastName}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{userData?.email}}</td>
        </tr>
        <tr>
            <th>Email verified</th>
            <td>{{user?.emailVerified}}</td>
        </tr>
        <tr>
            <th>Assigned roles</th>
            <td>
                <div>
                    <ul class="no-bullets">
                        <li *ngIf="userData?.roles?.admin">Admin</li>
                        <li *ngIf="userData?.roles?.banned">Banned</li>
                        <li *ngIf="userData?.roles?.client">Client</li>
                        <li *ngIf="userData?.roles?.manager">Manager</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</section>