<main id="main">
    <h1 id="header">Welcome 😀</h1>
    <div id="flex-container">
        <p class="column">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam exercitationem et nulla a quae
            inventore ipsa nostrum iste culpa provident ipsam sequi rerum consequuntur itaque vel sapiente, veniam
            perferendis dolorem.</p>
        <p class="column">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam exercitationem et nulla a quae
            inventore ipsa nostrum iste culpa provident ipsam sequi rerum consequuntur itaque vel sapiente, veniam
            perferendis dolorem.</p>
        <p class="column">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam exercitationem et nulla a quae
            inventore ipsa nostrum iste culpa provident ipsam sequi rerum consequuntur itaque vel sapiente, veniam
            perferendis dolorem.</p>
    </div>
</main>