<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 id="welcome">Welcome to FlyAway</h2>
    <div class="form-div">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email">
    </div>
    <div class="form-div">
        <label type="text" for="password">Password</label>
        <input type="{{passwordVisible ? 'text': 'password'}}" name="password" id="password" formControlName="password">
        <img id="password-visibility" src="{{getEyePath()}}" (click)="togglePasswordVisibility()">
    </div>

    <button class="submit-form-button" type="submit" [disabled]="!loginForm.valid">Log in</button>

    <a id="register-link" [routerLink]="['/register']" >You haven't created an account yet? Join us!</a>
</form>
