<nav id="flex-nav">
    <a id="company-logo" routerLink="/home">FlyAway</a>
    <nav id="flex-bar" [ngClass]="hamburgerEnabled ? 'hide-flex-bar' : 'show-flex-bar'">
        <a *ngIf="currUserRoles?.admin == true" routerLink='/admin-panel'>ADMIN PANEL</a>
        <a routerLink='/home'>HOME</a>
        <a routerLink='/trips-list'>TRIPS</a>
        <a *ngIf="currUserRoles?.manager == true" routerLink='/manager-panel'>MANAGER PANEL</a>
        <a *ngIf="currUserRoles?.client == true" routerLink='/history'>HISTORY</a>
        <a *ngIf="currUserRoles?.client == true" id="basket" routerLink='/basket'>
            <div>BASKET INFO</div>
            <p>Made reservations: {{basket.getSumOfReservationsNum()}}</p>
            <p>Summed price: {{basket.getSumOfReservationsMoney() | currency}}</p>
        </a>
        <a *ngIf="currUser != null" id="user" routerLink='/user-info'>👤 {{currUserData?.firstName + " " + currUserData?.lastName}}</a>
        <a [ngClass]="hamburgerEnabled ? '' : 'log-in-out-register'" *ngIf="currUser == null" routerLink='/log-in'>LOG IN</a>
        <a [ngClass]="hamburgerEnabled ? '' : 'log-in-out-register'" *ngIf="currUser == null" routerLink='/register'>REGISTER</a>
        <a [ngClass]="hamburgerEnabled ? '' : 'log-in-out-register'" *ngIf="currUser != null" (click)="logOut()">LOG OUT</a>
    </nav>


    <div id="hamburger" [ngClass]="hamburgerEnabled ? 'show-hambuger' : 'hide-hamburger'" (click)="toggleHamburger()">
        <div [ngClass]="hamburgerToggled ? 'line1' : ''"></div>
        <div [ngClass]="hamburgerToggled ? 'line2' : ''"></div>
        <div [ngClass]="hamburgerToggled ? 'line3' : ''"></div>
    </div>


</nav>
<div class="hamburger-menu-position">
    <div [ngClass]="hamburgerToggled ? 'show-hamburger-menu' : 'hide-hamburger-menu'" id="hamburger-menu">
        <div id="hamburger-menu-flex">
            <a *ngIf="currUserRoles?.admin == true" routerLink='/admin-panel'><p>ADMIN PANEL</p></a>
            <a routerLink='/home'><p>HOME</p></a>
            <a routerLink='/trips-list'><p>TRIPS</p></a>
            <a *ngIf="currUserRoles?.manager == true" routerLink='/manager-panel'><p>MANAGER PANEL</p></a>
            <a *ngIf="currUserRoles?.client == true" routerLink='/history'><p>HISTORY</p></a>
            <a *ngIf="currUserRoles?.client == true" id="basket" routerLink='/basket'>
                <p>BASKET INFO</p>
                <p>Made reservations: {{basket.getSumOfReservationsNum()}}</p>
                <p>Summed price: {{basket.getSumOfReservationsMoney() | currency}}</p>
            </a>
            <a *ngIf="currUser != null" id="user" routerLink='/user-info'><p>👤 {{currUserData?.firstName + " " + currUserData?.lastName}}</p></a>
            <a [ngClass]="hamburgerEnabled ? '' : 'log-in-out-register'" *ngIf="currUser == null" routerLink='/log-in'><p>LOG IN</p></a>
            <a [ngClass]="hamburgerEnabled ? '' : 'log-in-out-register'" *ngIf="currUser == null" routerLink='/register'><p>REGISTER</p></a>
            <a [ngClass]="hamburgerEnabled ? '' : 'log-in-out-register'" *ngIf="currUser != null" (click)="logOut()"><p>LOG OUT</p></a>
        </div>
        
    </div>
</div>