main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center {
    text-align: center;
}

.unavailibleFreeSeats {
    color: red;
}

.trip-reservation-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.trip-reservation-buttons {
    display: flex;
}

.trip-reservation-buttons>* {
    aspect-ratio: 1 / 1;
}

.trip-reservation-num {
    display: flex;
    flex-direction: column;
    align-items: center;
}
