.trips-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.trip-card-and-info {
    margin: 10px;
    background-color: var(--color-sec);
    border-radius: 10px;
}

.trip-info {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

#basket-info {
    display: flex;
    justify-content: center;
}

#buy-trips {
    background-color: var(--color-sec);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
}

#buy-trips:hover {
    background-color: var(--color-sec-dark);
}

#no-reservations {
    margin: 60px;
    text-align: center;
}