#basket-info {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

#no-reservations {
    margin: 60px;
    text-align: center;
}

.trips-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.trip-card-and-info {
    margin: 10px;
    background-color: var(--color-sec);
    border-radius: 10px;
}

.trip-info {
    padding: 10px;
    margin: 0px;
    text-align: center;
}
