<section id="basket-info">
    <div *ngIf="reservations.length > 0; else noReservations">
        <h3>Sum of tickets: {{sumOfReservationsNum}}</h3>
        <h3>Summed price: {{sumOfReservationsMoney | currency}}</h3>
        <button class="button-color-sec" (click)="buyTickets()">BUY TRIPS IN BASKET</button>
    </div>
    <ng-template #noReservations>
        <h2 id="no-reservations">You haven't added any trip to your basket yet!</h2>
    </ng-template>
</section>

<section class="trips-list">
    <div #showReservations *ngFor="let reservation of reservations" class="trip-card-and-info" >
        <h3 class="trip-info">Tickets in basket: {{reservation.tickets}}</h3>
        <app-trip-tile [tripId]="reservation.tripId"></app-trip-tile>
    </div>
</section>