#main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#main>* {
    margin: 10px;
}

#photo-details {
    flex: 1 1 100px;
    background-color: #CDC2FF;
    border-radius: 10px;
}

#photo-details>* {
    margin: 20px;
}