body {
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
	font-size: 62.5%;
	background-color: beige;
	margin: 20px;
}
h1 {
	font-size: 3em;
	font-family:'Times New Roman', Times, serif;
	background-color:rgb(23, 48, 46);
	color: aliceblue;
	padding: 12px 0px 12px 30px;
}
h2 {
	font-size: 2.2em;
	font-family:'Times New Roman', Times, serif;
	color: #000000;
}
h3 {
	font-size: 1.8em;
	font-family:'Times New Roman', Times, serif;
	color: #14556B;
}
ul, ol {
	font-size: 1.2em;
	line-height: 130%;
}
p {
	font-size: 1.2em;
	line-height: 130%;
}
ul {
	color: #666666;
	list-style: square;
}
