<div id="basket-info">
    <div *ngIf="reservations.length > 0; else noReservations">
        <h3>Made reservations: {{basket.getSumOfReservationsNum()}}</h3>
        <h3>Summed price: {{basket.getSumOfReservationsMoney() | currency}}</h3>
    </div>
    <ng-template #noReservations>
        <h2 id="no-reservations">You haven't made any reservations yet!</h2>
    </ng-template>
</div>

<div class="trips-list">
    <div #showReservations *ngFor="let reservation of reservations">
        <app-trip-tile [tripId]="this.tripsData.getIdByTrip(reservation[0])"></app-trip-tile>
    </div>
</div>