<section id="users-list">
    <div *ngFor="let user of users; let i = index" class="user">
        <p>Name: {{user[1].firstName + ' ' + user[1].lastName}}</p>
        <p>Email: {{user[1].email}}</p>
        <div class="user-roles">
            <div>Roles:</div>
            <div>
                <input id="admin-{{i}}" type="checkbox" [checked]="user[1].roles.admin"
                    (change)="changeRole(user, 'admin', !user[1].roles.admin)">
                <label for="admin-{{i}}">Admin</label>
            </div>
            <div>
                <input id="banned-{{i}}" type="checkbox" [checked]="user[1].roles.banned"
                    (change)="changeRole(user, 'banned', !user[1].roles.banned)">
                <label for="banned-{{i}}">Banned</label>
            </div>
            <div>
                <input id="client-{{i}}" type="checkbox" [checked]="user[1].roles.client"
                    (change)="changeRole(user, 'client', !user[1].roles.client)">
                <label for="client-{{i}}">Client</label>
            </div>
            <div>
                <input id="manager-{{i}}" type="checkbox" [checked]="user[1].roles.manager"
                    (change)="changeRole(user, 'manager', !user[1].roles.manager)">
                <label for="manager-{{i}}">Manager</label>
            </div>
        </div>
    </div>
<section>