section { 
    display: flex;
    flex-wrap: wrap;
}

.user {
    display: inline-block;
    background-color: var(--color-sec-light);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.5s;
}

.user:hover {
    background-color: var(--color-sec);
}

.user-roles {
    display: flex;
    flex-direction: column;
}
