.center {
    text-align: center;
}

.trip-info-whole {
    display: flex;
    flex-direction: column;
    background-color: var(--color-prim-light);
    border-radius: 20px;
}

.trip-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trip-info>*,
.all-reviews {
    border: 2px solid var(--color-sec);
    flex: 1 1 200px;
    margin: 15px;
}

.trip-info>*,
.trip-title,
.all-reviews {
    padding: 10px;
    border-radius: 10px;
}

.review {
    width: 80%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    background-color: var(--color-sec-dark);
    transition: all 0.5s;
}

.review:hover {
    background-color: var(--color-sec);
}

.review-content {
    word-break: break-all;
    white-space: normal;
}