<div class="prev-button-position">
    <div class="prev-button" (click)="navigateBack()">
        Back
    </div>
</div>

<article class="thumbnails-list">
    <img class="thumbnail" *ngFor="let img of trip?.imgs; let i = index" src="{{img.srcThumbnail}}"
        title="{{img.title}}" alt="{{img.alt}}" (click)="expandImg(img)">
</article>

<article class="img-container" [ngStyle]="{'display': showExpandedImg ? '' : 'none'}">
    <figure class="img-container-position">
        <span (click)="closeImg()" class="closebtn">&times;</span>
        <img id="expandedImg" src="{{expandedImgInfo?.srcFull}}" title="{{expandedImgInfo?.title}}"
            alt="expandedImgInfo?.alt">
    </figure>
</article>

<article class="trip-info-whole" *ngIf="trip != undefined">
    <h2 class="trip-title center">{{trip.name}}</h2>
    <div class="trip-info">
        <div>
            <h2 class="center">Basic informations</h2>
            <p>📍 Destination: {{trip.destination | uppercase}}</p>
            <p>📅 From {{trip.startDate | date:"dd-MM-yyyy"}} to {{trip.endDate | date:"dd-MM-yyyy"}}</p>
            <app-trip-rating [ratingDivisor]=getAverageRatingDivisor() [ratingNum]=getAverageRating()></app-trip-rating>
            <app-trip-details-ratings [tripId]="tripId"></app-trip-details-ratings>
        </div>

        <div>
            <h2 class="center">📝 Description</h2>
            <p>{{trip.description}}</p>
        </div>

        <div *ngIf="userRoles?.client">
            <h2 class="center">Buy tickets</h2>
            <app-trip-details-buy [tripId]="tripId"></app-trip-details-buy>
        </div>

        <div *ngIf="userRoles?.client">
            <h2 class="center"> My review</h2>
            <app-trip-details-review [tripId]="tripId"></app-trip-details-review>
        </div>


    </div>
    <div>
        <h1 style="text-align: center;">Reviews</h1>
        <div *ngFor="let review of reviews" class="review">
            <div>By: {{review.nick}}</div>
            <div>{{review.date | date: "medium"}}</div>
            <app-trip-rating [ratingDivisor]=review.rating [ratingDivisorMovable]=false></app-trip-rating>
            <p class="review-content">{{review.content}} </p>
        </div>
    </div>
</article>