<div class="prev-button-position">
    <div class="prev-button" routerLink="/trips-list">
        Back to list of trips
    </div>
</div>

<article class="thumbnails-list">
    <img class="thumbnail" *ngFor="let img of trip?.imgs; let i = index" src="{{img.srcThumbnail}}"
        title="{{img.title}}" alt="{{img.alt}}" (click)="expandImg(img)">
</article>

<article class="img-container" [ngStyle]="{'display': showExpandedImg ? '' : 'none'}">
    <figure class="img-container-position">
        <span (click)="closeImg()" class="closebtn">&times;</span>
        <img id="expandedImg" src="{{expandedImgInfo?.srcFull}}" title="{{expandedImgInfo?.title}}"
            alt="expandedImgInfo?.alt">
    </figure>
</article>

<article class="trip-info-whole" *ngIf="trip != undefined">
    <h2 class="trip-title">Trip title: {{trip.name}}</h2>
    <div class="trip-info">
        <div>
            <p>📍 Destination: {{trip.destination | uppercase}}</p>
            <app-trip-rating [ratingDivisor]=getAverageRatingDivisor() [ratingNum]=getAverageRating()></app-trip-rating>
            <app-trip-ratings [tripId]="tripId"></app-trip-ratings>
            <p>📅 From {{trip.startDate | date:"dd-MM-yyyy"}} to {{trip.endDate | date:"dd-MM-yyyy"}}</p>
        </div>

        <div>
            📝 Description: {{trip.description}}
        </div>

        <div *ngIf="userRoles?.client">
            <div *ngIf="trip.freeSeats - numOfReservations > 0; then availibleFreeSeats else unavailibleFreeSeats">
            </div>
            <ng-template #availibleFreeSeats>
                <p [ngStyle]="{'color': ifYellow() ? 'yellow' : ifRed() ? 'red' : 'black'}">💺 {{trip.freeSeats -
                    numOfReservations}} seats left</p>
            </ng-template>
            <ng-template #unavailibleFreeSeats>
                <p class="unavailibleFreeSeats">💺 No free seats</p>
            </ng-template>
            <div class="trip-reservation">
                <div class="trip-reservation-price">
                    <h3>{{trip.unitPrice | currency}}&nbsp;</h3>
                    <p>per pearson</p>
                </div>
                <div class="trip-reservation-panel">
                    <div class="trip-reservation-buttons">
                        <div *ngIf="ifFreeSeatsAvailible(); then showPlusButton else hideShowButton"></div>
                        <ng-template #showPlusButton><button class="trip-reservation-button-plus"
                                (click)="deltaReservation(1)">➕</button></ng-template>
                        <ng-template #hideShowButton>
                            <div style="width: 30px;"></div>
                        </ng-template>
                        <button class="trip-reservation-button-minus" (click)="deltaReservation(-1)">➖</button>
                    </div>
                    <div *ngIf="trip.freeSeats == 0">No free tickets!</div>
                    <div *ngIf="trip.freeSeats != 0 && numOfReservations == 0" class="trip-reservation-num">Buy tickets!
                    </div>
                    <div *ngIf="trip.freeSeats != 0 && numOfReservations > 0" class="trip-reservation-num">You've
                        chosen:
                        {{numOfReservations}}</div>
                </div>
            </div>
        </div>

        <div *ngIf="userRoles?.client">
            <div *ngIf="userReview != undefined; then hasReviewed else hasntReviewed"></div>
            <ng-template #hasReviewed>
                <div>
                    <h2 style="text-align: center;">Your review:</h2>
                    <div class="review">
                        <div>By: {{userReview?.nick}}</div>
                        <div>{{userReview?.date | date: "medium"}}</div>
                        <app-trip-rating [ratingDivisor]=userReview!.rating [ratingDivisorMovable]=false
                            [ratingNum]="userReview!.rating + 1"></app-trip-rating>
                        <p class="review-content">{{userReview?.content}} </p>
                    </div>
                </div>
            </ng-template>
            <ng-template #hasntReviewed>
                <div *ngIf="ifBoughtThisTrip(); then bought else hasntBought"></div>
                <ng-template #bought>
                    <div *ngIf="userRoles?.banned; then banned else notBanned"></div>
                    <ng-template #banned>
                        <p>Your account has been banned, so you cannot leave reviews! Contact with an administrator</p>
                    </ng-template>
                    <ng-template #notBanned>
                        <form (ngSubmit)="onSubmit()" [formGroup]="reviewForm" id="whole">
                            <h2>Send your opinion!</h2>
                            <div class="form-div">
                                <label for="reviewContent">Your review (50 - 500 characters)</label>
                                <textarea style="width: 100%; height: 300px; resize: none;" name="reviewContent"
                                    id="reviewContent" required formControlName="content"></textarea>
                            </div>
                            <app-trip-rating [ratingDivisor]=-1 [ratingDivisorMovable]=true
                                (numOfStars)="ratingChanged($event)"></app-trip-rating>
                                {{reviewForm.value.rating}}
                            <button type="submit" [disabled]="!reviewForm.valid">Submit</button>
                        </form>
                    </ng-template>

                </ng-template>
                <ng-template #hasntBought>
                    <div>You cannot leave a review, because you haven't bought this trip</div>
                </ng-template>

            </ng-template>
        </div>


    </div>
    <div>
        <h1 style="text-align: center;">Reviews</h1>
        <div *ngFor="let review of reviews" class="review">
            <div>By: {{review.nick}}</div>
            <div>{{review.date | date: "medium"}}</div>
            <app-trip-rating [ratingDivisor]=review.rating [ratingDivisorMovable]=false></app-trip-rating>
            <p class="review-content">{{review.content}} </p>
        </div>
    </div>
</article>