<section>
    <h2>Welcome to our travel agency</h2>
    <h1>FLY AWAY</h1>
    <h2>We can take you wherever you want!</h2>
    <h2>Don't believe us? Check out our <a routerLink="/trips-list">amazing
            trips!</a></h2>
    <h2>You can contact us personally if you wish:</h2>
    <ul class="info-list">
        <h3>Phone number: 123456789</h3>
        <h3>Email: flyaway@gmail.com</h3>
        <h3>Address: Trevescan, Penzance TR19 7AQ, Great Britain</h3>
        <img style="max-width: 100%; height: auto;" src="./assets/imgs/localisation.png">
    </ul>
</section>