.tile {
    display: flex;
    width: 90%;
    margin: auto;
    overflow: hidden;
    cursor: pointer;

    background-color: var(--color-beige);
    border: 1px solid black;
    border-radius: 10px;
    --info-height: 40vh;
    --info-padding: 10px;
}

.strip {
    flex: 0 0 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inner {
    width: 100%;
    display: flex;
}

.img {
    height: calc(var(--info-height) + 2*var(--info-padding));
}

.info {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: var(--info-height);
    padding: var(--info-padding);
}

@media (max-width:800px) {
    .inner {
        flex-direction: column;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .info {
        width: calc(100% - 2*var(--info-padding));
        height: auto;
    }
}