#whole {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    height: 60px;
}

#whole > * {
    font-size: 1.5em;
    aspect-ratio: 1 / 1;
}

#avgRating {
    vertical-align: bottom;
  border: 3px solid green;
  padding: 10px;
}
