<section>
    <div class="thumbnails-list">
        <img class="thumbnail" *ngFor="let img of imgs; let i = index" src="{{img.srcThumbnail}}" title="{{img.title}}"
            alt="{{img.alt}}" (click)="expandImg(img)">
    </div>

    <div class="img-container" [ngStyle]="{'display': showExpandedImg ? '' : 'none'}">
        <figure class="img-container-position">
            <img (click)="closeImg()" class="closebtn" src="./assets/imgs/close_button.png" />
            <img id="expandedImg" src="{{expandedImgInfo?.srcFull}}" title="{{expandedImgInfo?.title}}"
                alt="expandedImgInfo?.alt">
        </figure>
    </div>
</section>