#gallery {
    margin-bottom: 25px;
    --img-width: 80%;
}

.thumbnail {
    height: 15vh;
    width: auto;
    margin: 5px 5px 5px 0px;
    float: left;
    transition: all 0.5s;
}

.thumbnail:hover {
    box-shadow: 5px 5px 5px grey;
}

/* Clear floats after imgaes */
.thumbnails-list:after {
    content: "";
    display: table;
    clear: both;
}

#expanded-img {
    width: var(--img-width);
    margin: 10px;
}

.img-container {
    position: relative;
    background-color: var(--color-beige);
}

.img-container-position {
    position: relative;
    display: flex;
    justify-content: center;
}

.btn {
    position: absolute;
    background-color: white;

    height: 12%;
    aspect-ratio: 1 / 1;

    cursor: pointer;
    transition: all 0.5s;
}

.closebtn {
    right: calc((100% - var(--img-width))/2);
    top: 10px;
}

.leftbtn {
    left: calc((100% - var(--img-width))/2);
    top: calc(50% - 10px - 6%);
}

.rightbtn {
    right: calc((100% - var(--img-width))/2);
    top: calc(50% - 10px - 6%);
}

.btn:hover {
    background-color: var(--color-prim);
}

@media (max-width: 600px) {
    .thumbnail {
        height: 8vw;
    }

    .btn {
        height: 20%;
    }

    #expanded-img {
        margin: 0px;
        width: 100%;
    }

    .closebtn {
        top: 0px;
        right: 0px;
    }

    .leftbtn {
        left: 0px;
    }

    .rightbtn {
        right: 0px;
    }
}