a:link, a:visited, a:active {
    color: black;;
}

#flex-nav {
    background-color:#B8A8FF;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

#flex-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#company-logo {
    padding: 15px;
    margin: 15px;
}

#flex-bar>* {
    text-decoration:none;
    padding: 2vw;
    margin: 0px 5px;
    border-radius: 10px;
    transition: 0.5s background-color;
}

#flex-bar>*:hover {
    background-color: #FFF6B3;
}

